/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 200;
}

nav {
  width: 100%;
}


.align {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.hoofdlogo-mobile img {
  margin: 1em;
  width: 7em;
}

.hoofdlogo-mobile {
  display: block;
}

.hoofdlogo {
  margin: 1em;
  width: 7em;
}

.categories {
  display: none;
  margin: 0;
}

.categories li {
  display: flex;
  align-items: center;
}

.categories a {
  display: flex;
  color: black;
  margin: .8em;
  text-decoration: none;
  text-transform: uppercase;
}

.categories a:hover {
  color: white;
  color: rgb(26, 109, 26);
  padding: .5em;
}

.service-items img {
  height: 1.2em;
  width: auto;
}

.service-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 1em;
}

.service-items li {
 margin-left: 1em; 
}

#search {
  display: none;
}

.service-items button{
  width: 3rem;
  height: 3rem;
  margin-left: .7em;
  display:flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.service-items button img{
  width: 2em;
  height: auto;
}

.nav-list a{
  width: 5em;
  font-size: 1.5em;
  border: 1px solid salmon;
  display: block;
}

.nav-list li{
  list-style: none;
}

.nav-list {
  position: absolute;
  top:0;
  right:0;
  width: 100vw;
  height: 100vh;
  background-color: pink;
  margin:0;
  list-style: none;
  opacity: 1;
  transform:translateX(-110%)
}


main #sale {
  background-color: black;
  color: white;
  font-size: 5em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: 590px;
}

main #sale p:last-child {
  color: red;
  align-self: flex-end;
}

main #sale:hover {
  background: blue;
  transition: all 0.5s ease;
}

footer {
  margin-top: 5em;
  padding: 1em;
  background-color: violet;
}

footer h3{
  color:black;
}

footer ul{
  color: black;
  padding: 0;
  border: 2px solid burlywood;
}

footer li{
  list-style: none;
}

footer li a{
  color:black;
  text-decoration: none;
}

footer .socials img{
  height: 2em;
  width: auto;
}

footer .socials{
  display: flex;
}

.socials ul{
  padding: 0;
  border: 3px solid gold;
}

footer .socials li{
  margin-left: 1em;
}

#invoeren {
  font-size: 1em;

}

#succesmessage{
  font-size: 1em;
  color: white;
}

#subscribe{
  border: 1px solid white;
  text-transform: uppercase;
  background: none;
  padding: 1em;
  color: white;
}


@media (min-width:1000px) {
  header nav .categories {
    display: flex;
  }

  .service-items button{
    display: none;
  }
  
  header .mainmenu {
    display: none;
  }

  .align .hoofdlogo-mobile {
    display: none;
  }

  main #sale {
    min-height: 700px;
  }

  footer{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
  }
}

@media (min-width:500px){
  .service-items img {
    height: 1.5em;
    width: auto;
  }
}