/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 200;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
}

.align {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}

.hoofdlogo-mobile img {
  margin: 1em;
  width: 7em;
}

.hoofdlogo-mobile {
  display: block;
}

.hoofdlogo {
  margin: 1em;
  width: 7em;
}

.categories {
  display: none;
  margin: 0;
}

.categories li {
  display: flex;
  align-items: center;
}

.categories a {
  display: flex;
  color: black;
  margin: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
}

.categories a:hover {
  color: white;
  color: rgb(26, 109, 26);
}

.service-items img {
  height: 1.2em;
  width: auto;
}

.service-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-items li {
  margin-left: 1em;
}

#search {
  display: none;
}

/* HAMBURGERMENU */

.menu-button {
  margin-right: 1em;
}

.hamburger-menu {
  display: none;
  background-color: #000;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  overflow: scroll;
}

.hamburger-menu li {
  list-style-type: none;
  padding: 1em 1em;
  border-bottom: 1px solid #8c8c8c;
}

.hamburger-menu li a {
  color: #ffff;
  font-size: 0.9em;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
}

.sluit-li {
  float: right;
  border-bottom: 1px solid black !important;
}

.sluit-li button {
  background-color: #000;
  border: 0px;
  color: #ffff;
  font-size: 1.5em;
  padding: 10px;
}

.kop-li {
  background-color: #424242;
  text-transform: uppercase;
  color: #ffff;
}

.kop-li {
  font-weight: 700;
}

.gekozen-taal {
  color: #16a085 !important;
}

.hamburger-logo {
  width: 7em;
  height: auto;
}

/* MAIN CONTENT */

main #sale {
  background-color: black;
  color: white;
  font-size: 5em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: 590px;
}

main #sale p:last-child {
  color: red;
  align-self: flex-end;
}

main #sale:focus,
main #sale:hover {
  background: blue;
  transition: all 0.5s ease;
}

main img {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 100%;
  height: auto;
}

main .brands,
main .gender-choice,
main .other-categories {
  margin: 1em;
}

main .brands h2,
main .gender-choice h2,
main .other-categories h2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  font-weight: 200;
  color: black;
}

main .brands a {
  text-decoration: none;
}

main .brands .stoneislandlongsleeve {
  width: 100%;
  height: 100%;
  margin-top: 1em;
}

main .gender-choice p,
main .other-categories p {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 0.7em;
  color: black;
}

main .gender-choice a,
main .other-categories a {
  text-decoration: none;
}


.producten h1 {
  display: none;
}

.producten {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em;
}

.producten article {
  padding: 1em;
  margin-top: 2em;
}

.producten article:hover {
  box-shadow: 7.5px 7.5px 3px lightgray;
  transition: 0.7s;
}

.producten h4,
h5,
h6 {
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.producten h4 {
  margin-top: 1em;
}

.producten h5 {
  color: grey;
  font-weight: 300;
}

footer {
  margin-top: 5em;
  padding: 2em;
  background-color: lightgrey;
  font-size: 1em;
}

footer h3 {
  color: black;
}

footer ul {
  color: black;
  padding: 0;
}

footer li {
  list-style: none;
}

footer li a {
  color: black;
  text-decoration: none;
}

footer section:nth-child(3n) ul li:nth-child(4),
footer section:nth-child(3n) ul li:nth-child(7) {
  margin-bottom: 1em;
}

footer .socials img {
  height: 2em;
  width: auto;
}

footer .socials {
  display: flex;
}

footer .socials li {
  margin-left: 1em;
}

#invoeren {
  font-size: 1em;
}

#succesmessage {
  font-size: 1em;
  color: white;
  margin: 2em;
}

#subscribe {
  border: 1px solid white;
  text-transform: uppercase;
  background: none;
  padding: 1em;
  color: white;
}

@media (min-width: 720px){
  .producten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }

}

@media (min-width: 1100px) {
  header nav .categories {
    display: flex;
  }

  .menu-button {
    display: none;
  }

  header .mainmenu {
    display: none;
  }

  .align .hoofdlogo-mobile {
    display: none;
  }

  main #sale {
    min-height: 700px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2em;
  }

  .service-items {
    padding: 2em;
  }

  main .brands .stoneislandlongsleeve {
    margin-top: 0;
  }

  main .brands {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1em;
  }

  main .gender-choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }

  main .other-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .producten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .detailpaginamain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .stoneislandfoto, .stoneislandlongsleeveinfo{
    margin-top: 5em;
  }

  .detailpaginamain h1{
    font-size: 2em;
    margin: 0;
  }

}

@media (min-width: 500px) {
  .service-items img {
    height: 1.5em;
    width: auto;
  }
}

/* DETAILPAGINA */

.titel-pagina{
  display: none;
}

.detailpaginamain {
  margin: 1em;
}

.infolongsleeve {
  text-align: center;
}

.detailpaginamain h1 {
  font-weight: 800;
  margin: 0;
  margin-left: 2em;
  margin-right: 2em;
}

#terug{
  width: 3em;
  height: 3em;
  border: none;
  background: none;
  margin: auto;
}

#fotobladeren{
  display: flex;
}

#vooruit img{
  justify-content: center;
}

#vooruit{
  width: 3em;
  height: 3em;
  border: none;
  background: none;
  margin: auto;
}

.sizes {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 2em;
}

.sizes button {
  background-color: #f1f2f2;
  height: 3em;
  width: 4em;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
}

.sizes .active,
.sizes button:hover {
  background-color: black;
  color: white;
}

.winkelwagen {
  background-color: #f1f2f2;
  padding: 20px;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  border: none;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #68bba9;
  color: white;
}

.winkelwagen:hover {
  background-color: #529284;
  box-shadow: 7.5px 7.5px 3px lightgray;
  cursor: pointer;
}

.favorieten {
  padding: 20px;
  border: 1px solid #68bba9;
  background-color: white;
  margin-right: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}

.detailpagina h1{
  text-align: center;
}

.detailpagina h5 {
  color: grey;
  margin-top: 0.3em;
  font-size: 0.8em;
  text-decoration: underline;
  font-weight: 300;
  letter-spacing: 0;
  margin-left: 0;
  text-align: left;
}

.detailpagina h2 {
  margin-bottom: 0;
}

.detailpagina h3 {
  font-weight: 300;
  margin-top: 0;
  text-transform: uppercase;
}

.stoneislandlongsleevedetail{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.detailpaginamain p {
  margin: 0;
  text-align: center;
  color: rgb(179, 179, 179);
}

.description p {
  font-size: 0.9em;
  color: rgb(179, 179, 179);
  margin-bottom: 0.5em;
  text-align: left;
}

.service-conditions {
  list-style: none;
  padding-left: 0;
  font-size: 0.8em;
  color: rgb(179, 179, 179);
  margin-top: 2em;
}

.service-conditions li {
  display: flex;
  margin-bottom: 0.5em;
}

.service-conditions img {
  height: 1em;
  width: auto;
  margin-right: 0.4em;
}

.related-products{
  border-top: 1px solid lightgray;
  padding-bottom: 5em;
}

.related-products h1 {
  font-size: 2em;

  text-align: left;
  margin-left: 0;
  margin-bottom: 3em;
  padding-top: 1em;
}

.stoneislandsweater {
  width: 11em;
  height: auto;
  margin-left: 1em;
}

.stoneislandsweater h4 {
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.stoneislandsweater h5 {
  color: grey;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header a span {
  min-width: 3em; line-height:1.25em;
  padding:0 .5em;
  font-size: 1em;
  text-align: center;
  color:white;
  background-color:crimson;
  border-radius:.625em;
}

/* ANIMATIES */

@keyframes winkelwagen-animation{
  0%{ transform: scale(1);}
  100% {transform: scale(0.97);}
}

button.winkelwagen:hover {
  animation-name: winkelwagen-animation;
  animation-duration: 2s;
}

@keyframes like-animation{
  0% { transform:scale(1) ;
    transform: rotate(0deg);
  }

  50% { transform:scale(1.3
    5) ;
    transform: rotate(360deg);
    background-color: crimson;
  }

  100% { transform:scale(1) ;
    transform: rotate(0deg);
    background-color: crimson;
  }
}

button.favorieten:hover{
  animation-name: like-animation;
  animation-duration: 3s;
}

/* MEDIAQUERY'S DETAILPAGINA */

@media (min-width: 1000px){
  .detailpaginamain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  
  .stoneislandfoto, .stoneislandlongsleeveinfo{
    margin-top: 3em;
  }

  .detailpaginamain h1{
    margin: 0;
    text-align: left;
  }

  .detailpaginamain p{
    text-align: left;
  }

  .interactie{
    display: flex;
  }

  .favorieten{
    margin-left: 2em;
  }

  .related-products img{
    margin-top: 2em;
  }

  .stoneislandlongsleeveinfo{
    padding: 2em;
  }

  .sizes {
    padding: 0;
    justify-content: left;
  }
  
  .sizes button {
    margin-right: 2em;
  }
  
  .winkelwagen{
    max-width: 65%;
  }
}