/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

nav{
  width: 100%;
}

.align{
display: flex;
background-color:white;
}

.hoofdlogo{
  margin: 1em 2em;
  width: 10em;
}

.categories{
  display:flex;
}

.categories li{
  display:flex;
  align-items: center;
}


.categories a{
  display: flex;
  color: black;
  margin: 1em;
  font-size: 1em;
  font-family: source sans-serif;
  text-decoration: none;
}

.categories a:hover{
  color:white;
  background-color: black;
  padding: .5em;
}

.service-items img{
  height: 1.5em;
  width: auto;
}

.service-items{
  flex-grow:5;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin-right: 3em;
}

.service-items li{
  margin-left: 1.5em;
}

#search{
  display: none;
}

main ul{
  list-style: none;
  padding: 0;
}

main #sale{
  background-color:black;
  color: white;
  font-size: 5em;
  font-weight: 900;
  padding: 3em;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

main #sale p{
  color: red;
  margin: 1em;
}

main #sale:hover{
  background:blue;
  transition:all 0.5s ease;
}

main img{
  margin: 1em;
  height: auto;
  width: 50%;

}






